node_modules
dist
_server
config
webpack.config.js
webpack-config
postcss.config.js
i18n.config.ts
i18n-test.config.ts
i18next-parser.config.js
locale.config.js
jest.config.js
jest.setup.ts
reportWebVitals.js
serve.js
