@import 'src/styles/imports';

.base-layout {
	$this: &;

	width: 100%;
	height: 100%;

	&__side-nav {
	}

	&__main {
		overflow: auto;
	}

	&__header {
	}

	&__container {
		padding: 20px;
	}

	&__breadcrumb {
		margin-bottom: 20px !important;
	}

	&__content {
	}
}
