@import 'src/styles/imports';

.registration-credentials-form {
	width: 100%;
	background-color: white;
	border-radius: 4px;
	padding: 20px;

	&__header {
		margin-bottom: 20px;
	}

	&__title {

	}

	&__form {

	}
}
