@function ends-with($string, $find) {
  @if (str-slice($string, (str-length($string) - str-length($find) + 1)) == $find) {
    @return true;
  } @else {
    @return false;
  }
}

@each $name in map-keys($colors) {
  .u-color-#{$name} {
    color: map-get($colors, $name);
  }
}

.u-color-invert {
  filter: invert(1);
}

@each $name in map-keys($colors) {
  .u-bg-color-#{$name} {
    background: map-get($colors, $name);
  }
}

.u-bg-color-invert {
  filter: invert(1);
}
