img.u-shimmer {
  color: transparent;
  font-size: 1000%;

  &.is-lazyload-loading {

  }
}

.u-shimmer-parent {
  position: relative;

  &.is-lazyload-loading {
  }

  &.is-lazyload-loaded {
    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    @include shimmer();
    z-index: 1;
  }
}

.u-shimmer {
  position: relative;
  overflow: hidden;

  &.is-lazyload-loading {
  }

  &.is-lazyload-loaded {
  }

  &.is-lazyload-preload {
  }

  &.is-lazyload-error {
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    @include shimmer();
  }
}
