@import 'src/styles/imports';

.sing-up {
	&__form {
		min-width: 400px;
		background-color: gray;
		padding: 20px;
	}

	&__header {
		margin-bottom: 10px;
	}

	&__title {
	}

	&__btn {
		margin-right: 10px;
	}
}
