.example {
  border: 1px solid powderblue;
  border-radius: 8px;
  padding: 10px;

  &__logo {
    max-width: 100px;
    margin-bottom: 20px;
  }

  &__header {
    border-bottom: 1px solid red;
  }

}
