//Heading
@mixin font-h1-size($important: false) {
	font-size: $font-size-h1 if($important, !important, null);
	line-height: 72px if($important, !important, null);
}

@mixin font-h2-size($important: false) {
	font-size: $font-size-h2 if($important, !important, null);
	line-height: 64px if($important, !important, null);
}

@mixin font-h3-size($important: false) {
	font-size: $font-size-h3 if($important, !important, null);
	line-height: 56px if($important, !important, null);
}

@mixin font-h4-size($important: false) {
	font-size: $font-size-h4 if($important, !important, null);
	line-height: 36px if($important, !important, null);
}

@mixin font-h5-size($important: false) {
	font-size: $font-size-h5 if($important, !important, null);
	line-height: 32px if($important, !important, null);
}

@mixin font-h6-size($important: false) {
	font-size: $font-size-h6 if($important, !important, null);
	line-height: 28px if($important, !important, null);
}

@mixin font-h7-size($important: false) {
	font-size: $font-size-h7 if($important, !important, null);
	line-height: 28px if($important, !important, null);
}

//Heading end

//Subtitle
@mixin font-subtitle-1-size($important: false) {
	font-size: $font-size-subtitle-1 if($important, !important, null);
	line-height: 24px if($important, !important, null);
}

@mixin font-subtitle-2-size($important: false) {
	font-size: $font-size-subtitle-2 if($important, !important, null);
	line-height: 20px if($important, !important, null);
}

@mixin font-subtitle-3-size($important: false) {
	font-size: $font-size-subtitle-3 if($important, !important, null);
	line-height: 16px if($important, !important, null);
}

@mixin font-subtitle-4-size($important: false) {
	font-size: $font-size-subtitle-4 if($important, !important, null);
	line-height: 14px if($important, !important, null);
}

//Subtitle end

//Paragraph
@mixin font-p-size($important: false) {
	font-size: $font-size-p if($important, !important, null);
	line-height: 24px if($important, !important, null);
}

@mixin font-p-sm-size($important: false) {
	font-size: $font-size-p-sm if($important, !important, null);
	line-height: 20px if($important, !important, null);
}

@mixin font-p-xs-size($important: false) {
	font-size: $font-size-p-xs if($important, !important, null);
	line-height: 16px if($important, !important, null);
}

//Paragraph end

//Button
@mixin font-button-size($important: false) {
	font-size: $font-size-button if($important, !important, null);
	line-height: 24px if($important, !important, null);
}

@mixin font-button-sm-size($important: false) {
	font-size: $font-size-button-sm if($important, !important, null);
	line-height: 20px if($important, !important, null);
}

//Button end

//Nav
@mixin font-menu-size($important: false) {
	font-size: $font-size-menu if($important, !important, null);
	line-height: 20px if($important, !important, null);
}

@mixin font-toolbar-size($important: false) {
	font-size: $font-size-toolbar if($important, !important, null);
	line-height: 16px if($important, !important, null);
}

@mixin font-icon-desk-size($important: false) {
	font-size: $font-size-icon-desk if($important, !important, null);
	line-height: 14px if($important, !important, null);
	text-transform: uppercase if($important, !important, null);
}

//Nav end

//Caption
@mixin font-caption-size($important: false) {
	font-size: $font-size-caption if($important, !important, null);
	line-height: 16px if($important, !important, null);
}

//Caption end

//Overline
@mixin font-overline-size($important: false) {
	font-size: $font-size-overline if($important, !important, null);
	line-height: 16px if($important, !important, null);
	text-transform: uppercase if($important, !important, null);
}

//Overline end

//Label
@mixin font-label-size($important: false) {
	font-size: $font-size-label if($important, !important, null);
	line-height: 12px if($important, !important, null);
	text-transform: uppercase if($important, !important, null);
}

//Label end

//Form
@mixin font-form-label-size($important: false) {
	font-size: $font-size-form-label if($important, !important, null);
	line-height: 17px if($important, !important, null);
}

@mixin font-form-content-size($important: false) {
	font-size: $font-size-form-content if($important, !important, null);
	line-height: 20px if($important, !important, null);
}

@mixin font-form-hint-size($important: false) {
	font-size: $font-size-form-hint if($important, !important, null);
	line-height: 16px if($important, !important, null);
}

//Form end
