$color-white: #ffffff !default;
$color-black: #000000 !default;

$color-primary-10: #eaf6ef;
$color-primary-50: #2aa65c;
$color-primary-70: #00805f;

$color-secondary-10: #feecc7;
$color-secondary-50: #fcb016;

$color-success: #11d392;
$color-success-bg: $color-primary-10;
$color-warning: #ffcc01;
$color-warning-bg: #fff0df;
$color-error: #ff0000;
$color-error-bg: #ffdfdf;
$color-information: #00a9ff;
$color-information-bg: #dff0ff;

$color-light: #ffffff;
$color-dark: #071222;

$color-neutral-10: #262f40;
$color-neutral-20: #4c5566;
$color-neutral-40: #626d84;
$color-neutral-60: #9ba4b5;
$color-neutral-70: #d3d7de;
$color-neutral-80: #e2e4e9;
$color-neutral-90: #f6f7f8;

$color-extra-10: #11d392;
$color-extra-20: #ffcc01;
$color-extra-30: #fd2d39;
$color-extra-40: #ae01ff;
$color-extra-50: #11bcd3;
$color-extra-50: #11bcd3;
$color-extra-60: #0085ff;

$color-gradient-primary-50-primary-70-1: linear-gradient(
	90deg,
	$color-primary-50 0%,
	$color-primary-70 100%
);
$color-gradient-primary-50-primary-70-2: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
	),
	linear-gradient(90deg, $color-primary-50 0%, $color-primary-70 100%);

$colors: (
	black: $color-black,
	white: $color-white,
	primary-10: $color-primary-10,
	primary-50: $color-primary-50,
	primary-70: $color-primary-70,
	secondary-10: $color-secondary-10,
	secondary-50: $color-secondary-50,
	success: $color-success,
	warning: $color-warning,
	error: $color-error,
	information: $color-information,
	light: $color-light,
	dark: $color-dark,
	neutral-10: $color-neutral-10,
	neutral-20: $color-neutral-20,
	neutral-40: $color-neutral-40,
	neutral-60: $color-neutral-60,
	neutral-70: $color-neutral-70,
	neutral-80: $color-neutral-80,
	neutral-90: $color-neutral-90,
	extra-10: $color-extra-10,
	extra-20: $color-extra-20,
	extra-30: $color-extra-30,
	extra-40: $color-extra-40,
	extra-50: $color-extra-50,
	extra-60: $color-extra-60,
	gradient-primary-50-primary-70-1: $color-gradient-primary-50-primary-70-1,
	gradient-primary-50-primary-70-2: $color-gradient-primary-50-primary-70-2,
);
